@import "tailwindcss";

/* Regular */
@font-face {
  font-family: 'YekanBakh';
  src: url('../app/fonts/YekanBakhFaNum-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Light */
@font-face {
  font-family: 'YekanBakh';
  src: url('../app/fonts/YekanBakhFaNum-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/* SemiBold */
@font-face {
  font-family: 'YekanBakh';
  src: url('../app/fonts/YekanBakhFaNum-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'YekanBakh';
  src: url('../app/fonts/YekanBakhFaNum-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* تنظیم فونت پیش‌فرض برای کل بدنه سایت */
html,
body {
  font-family: 'YekanBakh', sans-serif;
  /* overflow-x: hidden !important; */
  overflow-x: clip !important; /* جلوگیری از اسکرول افقی */
}
body {
  line-height: 2 !important;
}

.font-YekanBakh {
  font-family: 'YekanBakh' !important;
}

.swiper {
 padding-bottom: 5px !important;
  padding-top: 5px !important;

}
.hotelCard_swiper {
  padding: 0 !important;
}
.c-badge {
  border-radius: 5px;
}

.rounded-8 {
  border-radius: 8px;
}

/* حذف دایره رنگی پیش‌فرض روز "امروز" که باگ دارد */
.rmdp-day.rmdp-today span {
  background-color: transparent !important;
  color: inherit !important;
  box-shadow: none !important;
}

/* استایل خوشگل‌تر برای روزهای هاور شده */
.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
  background-color: #eff6ff !important; /* blue-50 */
  color: #2563eb !important;
  border-radius: 12px !important;
}

/* استایل روزهای انتخاب شده (Range) */
.rmdp-range {
  background-color: #2563eb !important; /* blue-600 */
  color: white !important;
  box-shadow: 0 4px 10px rgba(37, 99, 235, 0.3) !important;
}

.rmdp-range-start, .rmdp-range-end {
  background-color: #1d4ed8 !important; /* blue-700 */
  border-radius: 12px !important;
}

/* گرد کردن گوشه‌های کانتینر */
.rmdp-shadow {
  box-shadow: 0 10px 30px -10px rgba(0,0,0,0.15) !important;
  border-radius: 24px !important;
  border: 1px solid #f3f4f6 !important;
}

.rmdp-week-day {
  color: #9ca3af !important; /* gray-400 */
  font-size: 0.85rem !important;
}
.rmdp-arrow-container.rmdp-right , .rmdp-arrow-container.rmdp-left {
  padding-top: 2px;
} 
/* در فایل globals.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}