@import "tailwindcss";

/* Regular */
@font-face {
  font-family: 'YekanBakh';
  src: url('/fonts/YekanBakh-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Light */
@font-face {
  font-family: 'YekanBakh';
  src: url('/fonts/YekanBakh-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/* SemiBold */
@font-face {
  font-family: 'YekanBakh';
  src: url('/fonts/YekanBakh-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'YekanBakh';
  src: url('/fonts/YekanBakhFaNum-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* تنظیم فونت پیش‌فرض برای کل بدنه سایت */
html , body {
  font-family: 'YekanBakh', sans-serif; 
}
.font-YekanBakh {

  font-family: 'YekanBakh' !important; 
}
.swiper{
  padding-bottom: 5px !important;
  padding-top: 5px !important;
}
.c-badge {
  border-radius: 5px;
}